* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 500px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.grid {
  width: 30px;
  height: 30px;
  color: black;
  background-color: aquamarine;
  border-bottom: 0.2px solid rgb(110, 106, 106);
  border-left:0.2px solid rgb(110, 106, 106);
}

.grid:hover{
  background-color: black;
}